# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named venv, .deta, .idea
images/
pdfs/
predictions/
.idea/
en_PP-OCRv3_rec_infer/

# ignore ALL files in ANY directory named __pycache__
**/__pycache__/

# ignore ALL Database files in directory
*.sqlite3
*.db

# ignore sparing file
*sparing
sparing.py

#
en_PP-OCRv3_rec_infer.tar
