# ignore ALL .log files
*.log

# ignore ALL app generated folders
venv/
images/
pdfs/
predictions/
.devcontainer/
.idea/
en_PP-OCRv3_rec_infer/

# ignore ALL files in ANY directory named __pycache__
**/__pycache__/

*.db
*.env
env.txt